<ion-header>
  <ion-toolbar>
    <ion-title>Hiking Data</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div> -->

<ion-content class="background-image">
<!-- <img [src]="display" alt="Map Image"/> -->
<google-map height="500px"
            width="900px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>
  
<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>

<!-- </ion-content> -->

<!-- <div class="oax-top-cont"></div> -->



  <!-- Cards to display name and location of trail and link to the url from the array places
  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Static Map</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let map of mapData">
        <ion-label>
          
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content> -->

  <!-- <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Routes</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let route of routeData">
        <ion-label>
          <h2>{{ route.name }}</h2>
          <p>Distance: {{ route.distance }}</p>
          <p>Duration: {{ route.duration }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content> -->

<!-- <ion-content> -->
  <ion-header>
      New Hike
</ion-header>
  <ion-list>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Route Name:</ion-label>
        <ion-input [(ngModel)]="route" name="route" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Distance(km):</ion-label>
        <ion-input [(ngModel)]="distance" name="distance" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Difficulty:</ion-label>
        <ion-select [(ngModel)]="difficulty" name="difficulty" required>
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="moderate">Moderate</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Hike Details:</ion-label>
        <ion-textarea [(ngModel)]="details" name="details" required></ion-textarea>
      </ion-item>

      <ion-button expand="block" type="submit">Create Hike</ion-button>
    </form>
  </ion-list>
<!-- </ion-content> -->

<!-- <ion-content> -->
  <ion-list *ngIf="hikingHistory && hikingHistory.length">
    <ion-item lines="full" *ngFor="let hike of hikingHistory">
      <ion-label>
        <h2>Route: {{ hike.routeName }}</h2>
        <h3>{{ hike.distance }} km</h3>
        <h3>Rated: {{ hike.difficulty }} </h3>
        <p>Details: {{ hike.hikeDetails }}</p>
        <!-- Add more lines for other properties -->
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!hikingHistory || !hikingHistory.length">
    <p>No hiking history found.</p>
  </div>
  <ion-button expand="block" (click)="getHikeHistory()">Get Hike History</ion-button>
</ion-content>


